:root {
	--bg-color: #faf9f4;
	--text-color: #222;
	--link-color: #1eaedB;
	--link-hover-color: #0f76ce;
	--field-bg-color: #fff;
	--field-border-color: #d1d1d1;
	--field-bg-hover-color: #33c3f0;
	--field-button-bg-color: #1cb841;
}

.dark {
	--bg-color: #181818;
	--text-color: #f0f6fc;
	--link-color: #3eaf7c;
	--link-hover-color: #29865c;
	--field-bg-color: #111;
	--field-border-color: #2c2c2c;
	--field-bg-hover-color: #000;
	--field-button-bg-color: #484848;
}

html {
	height: 100%;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	min-height: 100%;
	font-size: 1.5em;
	line-height: 1.6;
	font-weight: 400;
	font-family: Helvetica, Arial, sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);
	transition: background .4s, color .4s;
}

.container {
	max-width: 480px;
	padding: 20px;
	text-align: center;
}

.container p:last-child {
	margin-bottom: 0;
}

h1, h2, h3 { font-weight: 300; margin-top: 0; margin-bottom: 2rem; }
h1 { font-size: 4.0rem; line-height: 1.2; }
h2 { font-size: 3.6rem; line-height: 1.25; }
h3 { font-size: 3.0rem; line-height: 1.3; }
h4 { font-size: 2.4rem; line-height: 1.35; }
h5 { font-size: 1.8rem; line-height: 1.5; }
h6 { font-size: 1.5rem; line-height: 1.6; }

p { margin-top: 0; }
a { color: var(--link-color); transition: color .4s; }
a:hover { color: var(--link-hover-color); }

input {
	min-width: 240px;
	height: 38px;
	box-sizing: border-box;
	padding: 6px 10px;
	background: var(--field-bg-color);
	border: 1px solid var(--field-border-color);
	border-radius: 4px;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: background .4s, border .4s;
}

input:focus {
	border-color: var(--field-bg-hover-color);
	outline: none;
}

button {
	display: block;
	box-sizing: border-box;
	padding: 0;
	font-size: 0.9em;
	font-weight: 300;
	border: none;
	text-align: center;
	box-shadow: none;
	cursor: pointer;
	outline: none;
	transition: all .4s;
}

button[disabled],
button[disabled]:hover,
button[disabled]:focus {
	pointer-events: none;
}