<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Loading ...</title>

	<meta name="theme-color" content="#faf9f4">
	<link rel="stylesheet" href="<%= BASE_URL %>css/normalize.min.css">
	<link rel="stylesheet" href="<%= BASE_URL %>css/skeleton.css">
	<link rel="shortcut icon" href="<%= BASE_URL %>favicon.ico" type="image/x-icon">

</head>
<body>

	<div id="app"></div>

</body>
</html>