<template>
	<div id="app">
		<div v-if="!isLoaded">Loading ...</div>
		<div v-if="isLoaded">
			<router-view />
			<TemperatureControl v-model="unit" class="app-temperature-control" @change="changeUnit" />
			<div class="app-menu">
				<router-link v-if="route.name !== ROUTE_STATES.HOME"
							 :to="{
							 	name: ROUTE_STATES.HOME, query: { [QUERY_PARAMS.LOCATION]: savedLocation.toLowerCase(), }
							 }">
					Home
				</router-link>
				<router-link v-else to="/about">About</router-link>
				<DarkThemeToggle />
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'App',
};
</script>

<script setup>
import { computed, defineAsyncComponent, ref, watch } from 'vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import { useTitle } from '@vueuse/core';
import { constants as settingStore } from '@/store/modules/setting';
import { constants as weatherStore } from '@/store/modules/weather';
import { QUERY_PARAMS, ROUTE_STATES } from '@/constants';

const TemperatureControl = defineAsyncComponent(() => import(/* webpackChunkName: 'TemperatureControl' */ '@/controls/TemperatureControl'));
const DarkThemeToggle = defineAsyncComponent(() => import(/* webpackChunkName: 'DarkThemeToggle' */ '@/components/DarkThemeToggle'));

const store = useStore();
const route = useRoute();
const title = useTitle();

const isLoaded = computed(() => store.getters[weatherStore.getters.isLoaded]);
const unitObject = computed(() => store.getters[settingStore.getters.unit]);
const savedLocation = computed(() => store.getters[settingStore.getters.lastSavedCityName]);
const unit = ref(unitObject.value.id);

/**
 * Dispatches update weather action.
 * @param {number} unit
 */
const changeUnit = () => store.dispatch(settingStore.actions.updateUnit, unit.value);

// Inits

store.dispatch(weatherStore.actions.initWeather);
watch(route, (route) => {
	// @todo: can be replaced to @vueuse/head
	title.value = route.meta.title;
});
</script>

<options-api>
import { defineAsyncComponent } from 'vue';
import { mapActions, mapGetters } from 'vuex';
import { constants as settingStore } from '@/store/modules/setting';
import { constants as weatherStore } from '@/store/modules/weather';
import { ROUTE_STATES } from '@/constants';

const TemperatureControl = defineAsyncComponent(() => import(/* webpackChunkName: 'TemperatureControl' */ '@/controls/TemperatureControl'));

export default {
	name: 'App',
	components: {
		TemperatureControl,
	},
	data() {
		return {
			unit: 0,
			currentState: '',
			homeState: ROUTE_STATES.HOME,
		}
	},
	computed: {
		...mapGetters({
			isLoaded: weatherStore.getters.isLoaded,
			unitObject: settingStore.getters.unit,
			lastSavedCityName: settingStore.getters.lastSavedCityName,
		}),
	},
	watch: {
		'$route.name': {
			handler(name) {
				this.currentState = name;
			},
			deep: true,
		},
	},
	created() {
		this.unit = this.unitObject.id;
		this.currentState = this.$route.name;
		this.initWeather();
	},
	methods: {
		...mapActions({
			initWeather: weatherStore.actions.initWeather,
			updateUnit: settingStore.actions.updateUnit,
		}),
		onChangeUnit() {
			this.updateUnit(this.unit);
		},
	},
};
</options-api>

<style scoped lang="scss">
.app {
	&-temperature-control {
		position: absolute;
		top: 20px;
		left: 20px;
		z-index: 1;
	}

	&-menu {
		display: flex;
		align-items: center;
		position: absolute;
		top: 20px;
		right: 25px;
		gap: 20px;
		z-index: 1;
		line-height: 2.1em;

		.is-active {
			display: none;
		}
	}
}
</style>